include ./FormElements/formElements
hr
+button({type: 'fillButton', link: '#', title: 'Click Me'})
+button({type: 'borderedButton', link: '#', title: 'Click Me'})
+button({type: 'goestButton', link: '#', title: 'Click Me'})
+button({type: 'fillButton', link: '#', title: 'Перейти к оплате', long: true})
