include ./FormElements/formElements
hr
+button({type: 'fillButton', link: '#', title: 'Click Me'})
+button({type: 'borderedButton', link: '#', title: 'Click Me'})
+button({type: 'goestButton', link: '#', title: 'Click Me'})
+button({type: 'fillButton', link: '#', title: 'Перейти к оплате', long: true})

hr

+textField({type: 'email', placeholder: 'Email', name: 'email'})
+textField({type: 'text', isDropdown: true, placeholder: 'Сколько гостей', dropdown:{dateDropdown: false, FilterDropdown: false}})
