
mixin textField(def)
    -let textFieldClass = 'textField'
    -textFieldClass += def ? ' textField_default' : ''

    .textFieldBorder
        input(class= textFieldClass, type= 'email', placeholder= 'Email')

mixin button(options)
    -var buttonClass = 'btn'
    case options.type
        when 'fillButton'
            -buttonClass += ' btn_default'
            if options.long
                -buttonClass += ' btn_long'
        when 'borderedButton'
            -buttonClass += ' btn_bordered'
        when 'goestButton'
            -buttonClass += ' btn_goest'
        default
            -buttonClass += ' btn_default'
    div(class= buttonClass)
        input(type= 'button' value= options.title).btn_insert


mixin textField(options)
    -var textfieldClass = 'textfield'
    if options.isDropdown
        -textfieldClass += options.isDropdown ? ' textfield_dropdown' : ''
        -textfieldClass += options.dropdown.dateDropdown ? ' texfield_dateDropdown' : ''
        -textfieldClass += options.dropdown.filterDropdowm ? ' texfield_filter_dateDropdown' : ''
    -textfieldClass += options.subscription ? ' textfield_subscription' : ''

    div(class= textfieldClass)
        input(type= options.type placeholder= options.placeholder name= options.name).textfield_insert