
mixin textField(def)
    -let textFieldClass = 'textField'
    -textFieldClass += def ? ' textField_default' : ''

    .textFieldBorder
        input(class= textFieldClass, type= 'email', placeholder= 'Email')

mixin button(options)
    -var buttonClass = 'btn'
    case options.type
        when 'fillButton'
            -buttonClass += ' btn_default'
            if options.long
                -buttonClass += ' btn_long'
        when 'borderedButton'
            -buttonClass += ' btn_bordered'
        when 'goestButton'
            -buttonClass += ' btn_goest'
        default
            -buttonClass += ' btn_default'


    div(class= buttonClass)
        a(href = options.link class= 'btn_link')= options.title ? options.title : 'Click Me'