@font-face {
    font-family: 'Montserat-bold';
    src: local('Montserat-bold'),
        url('fonts/Montcerrat/Bold-700/Montserrat-Bold.woff'),
        url('fonts/Montcerrat/Bold-700/Montserrat-Bold.ttf'),
        url('fonts/Montcerrat/Bold-700/Montserrat-Bold.svg');
}

@font-face {
    font-family: 'Montserat-Regular';
    src: local('Montserat-Regular'),
        url('fonts/Montcerrat/Regular-400/Montserrat-Regular.woff'),
        url('fonts/Montcerrat/Regular-400/Montserrat-Regular.ttf'),
        url('fonts/Montcerrat/Regular-400/Montserrat-Regular.svg');
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}